body {
  background-color: #444444;
  color: #333;
}
nav {
  z-index: 1;
}
.navbar-default {
  background-color: white;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: black;
}
.navbar {
  border: none;
}
h1 {
  color: #286090;
}
h1.title {
  font-size: 60px;
}
.section1 {
  padding-top: 50px;
}
.section1 p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-text {
  padding-top: 75px;
}
ul.research-list {
  list-style-type: none;
  margin-top: 25px;
}
ul.research-list li {
  margin-bottom: 25px;
}
ul.research-list li:before {
  float: left;
  margin-left: -40px;
  margin-top: -5px;
  font-family: "Glyphicons Halflings";
  content: "\e013";
  font-size: 22px;
  color: #286090;
}
.first-column {
  border-right: 1px solid #286090;
}
ol.publications {
  margin-top: 25px;
}
ol.publications li {
  margin-bottom: 25px;
}
.btn-outline {
  border: none;
}
